<mat-toolbar color="accent">
    <div fxLayout fxLayoutAlign="space-between center" fxFlex>
      <a routerLink="/" class="mainPageLink">(ﾉ◕ヮ◕)ﾉ*:･ﾟ✧ Super Sweet Forum! ✧ﾟ･: *ヽ(◕ヮ◕ヽ)</a>
      <p class="descriptionMsg">The only internet forum with no organization and too many emojis!</p>
    </div>
</mat-toolbar>
<div>
    <!--<a mat-button color="orange" [routerLink]="['/recent-threads']">
        RECENT THREADS
    </a>-->
    <a mat-button [routerLink]="['/users']">
        USERS
    </a>
    <a mat-button [routerLink]="['/threads']">
        THREADS
    </a>
</div>
<router-outlet></router-outlet>
