<mat-list>  
    <mat-toolbar>
            <mat-form-field color="primary" class="trm-search-container">
              <input matInput type="text" (input)="search$.next($event.target.value)">
            </mat-form-field>
            <mat-icon color="primary">search</mat-icon>
    </mat-toolbar>
      <a mat-list-item
        [routerLink]="['/users', user.id]"
        *ngFor="let user of users"
        title="View {{user.name}} details">
        <h3 mat-line>{{user.name}}</h3>
      </a>
</mat-list>