<mat-card>
    <button mat-button (click)="orderStateToogle$.next()">
        Order
        <mat-icon color="accent" *ngIf="orderState < 0">keyboard_arrow_up</mat-icon>
        <mat-icon color="accent" *ngIf="orderState > 0">keyboard_arrow_down</mat-icon>
    </button>
</mat-card>
<mat-list *ngFor="let thread of recentThreads">
    <a [routerLink]="['/threads', thread.id]">
        <mat-card mat-list-item>
            <h3 mat-line>{{ thread.title }}</h3>
            <mat-chip-list>
                <mat-chip>{{ !thread.poster || thread.poster?.length === 0 ? 'Anonymous' : thread.poster }}</mat-chip>
            </mat-chip-list>
        </mat-card>
    </a>
</mat-list>
<mat-card *ngIf="recentThreads.length === 0">
    <mat-card-content>
        No recent Threads!
    </mat-card-content>
</mat-card>
