<mat-toolbar>
  <mat-form-field fxFlex color="primary" class="search">
    <input title="search" matInput type="text"
           (input)="term$.next($event.target.value)">
  </mat-form-field>
  <button fxFlex mat-button routerLink="/threads/new">Make a New Thread!</button>
</mat-toolbar>
<mat-list>
  <a mat-list-item
     *ngFor="let thread of thread$ | async; trackBy:trackById"
     [routerLink]="['/threads', thread.id]"
     title="Thread {{ thread.title }}">
    <h3 mat-line>{{ thread.title }}</h3>
  </a>
</mat-list>
