<mat-toolbar>
  <mat-form-field fxFlex color="primary" class="search">
    <input title="search" matInput type="text"
           (input)="term$.next($event.target.value)">
    <mat-placeholder class="searchHolder">You can search for a thread here!</mat-placeholder>
  </mat-form-field>
  <button mat-button class="custom-button" color="accent" routerLink="/threads/new">
    (☞ﾟヮﾟ)☞ NEW THREAD  ☜(ﾟヮﾟ☜)
  </button>
</mat-toolbar>
<mat-card class="threadItem" *ngFor="let thread of thread$ | async; trackBy: trackById">
    <a color="accent" class="linkButton" mat-button [routerLink]="['/threads', thread.id]">
      <mat-card-title>{{ thread.title }}</mat-card-title>
    </a>
    <div align="end">Posted by: {{ thread.poster ? thread.poster : "Anonymous"}}<br>
      Replies: {{ thread.replies ? thread.replies.length : "0 (ಥ﹏ಥ)" }}
    </div>
</mat-card>
