.searchHolder{
  color: gray;
  font-size: 12px;
}

.threadItem{
  margin-top:10px;
}

.linkButton{
  font-size: 20px;
  color: black;
}

.linkButton:hover{
  background-color: cornsilk;
}
.threadName{
  background-color: cornsilk;
}
.threadInfo{
  display:inline-block;
  float:right;
  color: gray;
  font-size:14px
}
