<div fxLayout="column">
<mat-card class="mainPost">
  <mat-card-title-group>
    <mat-card-title *ngIf="thread.isMainThread">{{ thread.title }}</mat-card-title>
    <mat-card-title *ngIf="!thread.isMainThread">
      <a mat-button [routerLink]="['/threads',thread.parentThreadId]">[ This thread is a reply to another. Click here to view it ]</a>
    </mat-card-title>
    <mat-card-subtitle>Posted by: {{ thread.poster ? thread.poster : "Anonymous"}}</mat-card-subtitle>
    <button mat-button (click)="reply.emit(thread.id)">Reply to This Thread</button>
  </mat-card-title-group>
  <mat-card-content>
    {{ thread.body }}
  </mat-card-content>
</mat-card>
<mat-card class="reply" *ngFor="let reply of thread.replies">
  <mat-card-content class="reply">
    <mat-card-subtitle class="replyPost">Posted by: {{ reply.poster ? reply.poster : "Anonymous"}}</mat-card-subtitle>
    <!--<button mat-button (click)="reply.emit(reply.id)">Reply to This Thread</button>-->
    {{ reply.body }}
  </mat-card-content>
</mat-card>
</div>

