<form novalidate #form="ngForm" (ngSubmit)="login(form.value)">
    <h2 mat-dialog-title>Login</h2>
    <mat-dialog-content>
      
          <mat-form-field fxFlex>
            <input matInput placeholder="Name" name="name" [(ngModel)]="name">
          </mat-form-field>
          <mat-form-field fxFlex>
            <input matInput placeholder="Password" name="password" [(ngModel)]="password">
          </mat-form-field>
    
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button class="custom-button" color="accent" type="submit">Login</button>
      <button mat-button class="custom-button" color="accent" [mat-dialog-close]="true">Cancel</button>
    </mat-dialog-actions>
</form>
