<mat-toolbar>
    <mat-form-field fxFlex color="primary" class="search">
      <input title="search" matInput type="text"
             (input)="term$.next($event.target.value)">
      <mat-placeholder class="searchHolder">You can search for a thread here!</mat-placeholder>
    </mat-form-field>
</mat-toolbar>
<mat-card class="threadItem"  *ngFor="let thread of thread$ | async; trackBy: trackById">
      <a class="linkButton" mat-button [routerLink]="['/threads', thread.id]">
        <mat-card-title [ngClass]="thread.isMainThread ? 'Main' : 'Reply'"class>{{ thread.title }}</mat-card-title>
      </a>
    <div style="display:inline-block; float:right; font-size:12px; "align="end">
      Posted by: {{ thread.poster ? thread.poster : "Anonymous"}}
        Replies: {{ thread.replies ? thread.replies.length : "0 (ಥ﹏ಥ)" }}
    </div>
</mat-card>
<mat-card *ngIf="(thread$ | async)?.length === 0">
  No threads.
</mat-card>
